@charset "UTF-8";
/*
html5doctor.com Reset css
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  width: 100vw;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Noto Serif JP";
  color: #000;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

header {
  height: 80px;
  width: 100vw;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .header__contents {
  max-width: 1880px;
  width: calc(100vw - 20px);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
}

header .header__contents--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__contents--left .header__logo {
  width: 200px;
  height: 43px;
  margin-right: 120px;
}

header .header__contents--left .header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__contents--left .header__nav--list .header__nav--item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.625;
  letter-spacing: 0px;
}

header .header__contents--left .header__nav--list .header__nav--item:nth-child(2) {
  margin-right: 33px;
  margin-left: 33px;
}

header .header__contents--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__contents--right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__contents--right a .calendar {
  width: 22px;
  height: 22px;
  margin-left: 37px;
  margin-right: 10px;
  padding-top: 1px;
}

header .header__contents--right a h2 {
  margin-right: 37px;
  color: #fff;
}

header .header__contents .hamburger {
  display: none;
  position: absolute;
  z-index: 3;
  right: 17px;
  top: 16px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

header .header__contents .hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .header__contents .hamburger span:nth-child(1) {
  top: 10px;
}

header .header__contents .hamburger span:nth-child(2) {
  top: 20px;
}

header .header__contents .hamburger span:nth-child(3) {
  top: 30px;
}

header .header__contents .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .header__contents .hamburger.active span:nth-child(2),
header .header__contents .hamburger.active span:nth-child(3) {
  top: 16px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .header__contents nav.globalMenuSp {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
}

header .header__contents nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-top: calc(50vh - 96px);
}

header .header__contents nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: .4s all;
  transition: .4s all;
}

header .header__contents nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

header .header__contents nav.globalMenuSp ul li:hover {
  background: #999;
}

header .header__contents nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration: none;
}

header .header__contents nav.globalMenuSp.active {
  opacity: 100;
  display: block;
}

header .header__contents .btn {
  width: 170px;
  height: 54px;
  background: #978F10;
  cursor: pointer;
}

header .header__contents .btn:hover {
  background: #dacc0f;
}

header .header__contents .modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  color: #000;
}

header .header__contents .modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

header .header__contents .modal__content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 550px;
  height: 600px;
}

header .header__contents .modal__content .modal__container {
  width: 430px;
  margin: 0 auto;
}

header .header__contents .modal__content .modal__container h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0px;
  width: 80px;
  margin: 25px auto 0;
}

header .header__contents .modal__content .modal__container .js-modal-close {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 22px;
}

header .header__contents .modal__content .modal__container hr {
  color: #707070;
  margin-top: 25.5px;
  margin-bottom: 21.5px;
}

header .header__contents .modal__content .modal__container form div input, header .header__contents .modal__content .modal__container form div label {
  display: block;
  width: 100%;
}

header .header__contents .modal__content .modal__container form div label {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3125;
  letter-spacing: 0px;
  margin-top: 11px;
  margin-bottom: 12px;
}

header .header__contents .modal__content .modal__container form div .calendar-text {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3125;
  letter-spacing: 0px;
  margin-top: 11px;
  margin-bottom: 12px;
}

header .header__contents .modal__content .modal__container form div input {
  height: 32px;
}

header .header__contents .modal__content .modal__container form div .select-plan {
  width: 438px;
  min-height: 3.2rem;
}

header .header__contents .modal__content .modal__container form div .select-plan select {
  min-height: 3.2rem;
  width: 438px;
}

header .header__contents .modal__content .modal__container form .submit-btn {
  width: 198px;
  display: block;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3125;
  letter-spacing: 0px;
  padding: 10px 74px 11px 67px;
  margin: 64px auto 0;
  border: 1px solid #707070;
}

.after-scroll {
  background-color: #fff;
}

.after-scroll .header__contents--left .header__nav--list .header__nav--item a {
  color: #000;
}

.after-scroll .header__contents .hamburger span {
  background: #555;
}

.under .header__contents--right {
  visibility: visible;
}

footer .footer__top {
  width: 100%;
  height: 522px;
  background-image: url(../img/bg03.jpg);
  background-position: center;
  background-size: cover;
}

footer .footer__top .footer__link {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 130px;
  margin: auto;
  padding-top: 61px;
}

footer .footer__top .footer__link--item {
  width: 20px;
}

footer .footer__top .footer__link--item a {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.77778;
  letter-spacing: 0px;
}

footer .footer__top .footer__link--item:nth-child(2) {
  margin: 0 33px 93px 34px;
}

footer .footer__top .footer__logo {
  width: 145px;
  height: 96px;
  margin: 0 auto 65px;
}

footer .footer__top p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3;
  letter-spacing: 0px;
  text-align: center;
  height: 17.33px;
  margin-bottom: 18px;
}

footer .footer__top p:first-child {
  letter-spacing: 2.88px;
}

footer .footer__top p .blank01 {
  padding-right: 16px;
}

footer .footer__top p .blank02 {
  padding-right: 21px;
}

footer .footer__bottom {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
  color: #fff;
  height: 60px;
  text-align: center;
  background-color: #000;
  padding-top: 22px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 13px;
}

.section-title {
  color: #000;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 0.88889;
  letter-spacing: 0px;
  text-align: center;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}

.breadcrumb__list .breadcrumb__item {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
  list-style: none;
}

.breadcrumb__list .breadcrumb__item:first-child {
  margin-right: 5px;
}

.breadcrumb__list .breadcrumb__item:last-child::before {
  content: "> ";
}

.breadcrumb__list .breadcrumb__item::marker {
  content: "";
}

.text-combine {
  text-orientation: upright;
}

.sp-br-none {
  display: block;
}

@media screen and (max-width: 1179px) {
  header .header__contents--left .header__nav {
    display: none;
  }
  header .header__contents--right {
    margin-right: 85px;
  }
  header .header__contents .hamburger {
    display: block;
  }
  header .header__contents .hamburger__none {
    display: none;
  }
  header .header__contents .modal {
    width: 100vw;
    margin-left: -10px;
  }
  header .header__contents .modal .modal__bg {
    width: 100vw;
  }
  header .header__contents .modal .modal__content {
    max-width: 550px;
    width: 90%;
    max-height: 600px;
    height: 90%;
  }
  header .header__contents .modal .modal__content .modal__container {
    width: 100%;
  }
  header .header__contents .modal .modal__content .modal__container form {
    width: 100%;
  }
  header .header__contents .modal .modal__content .modal__container form div {
    width: 90%;
    margin-left: 5%;
  }
  header .header__contents .modal .modal__content .modal__container form div input {
    max-width: 438px;
    width: 90%;
  }
  header .header__contents .modal .modal__content .modal__container form div .select-plan {
    width: 100%;
  }
  header .header__contents .modal .modal__content .modal__container form div .select-plan select {
    width: 90%;
  }
  .tablet-br {
    display: none;
  }
  .breadcrumb__list .breadcrumb__item {
    font-size: 1.3rem;
  }
  html.is-fixed,
  html.is-fixed body {
    height: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .sp-br-none {
    display: none;
  }
  header .header__contents--left {
    width: 250px;
    height: auto;
  }
  header .header__contents .btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  header .header__contents .btn a {
    width: 50px;
  }
  header .header__contents .btn a .calendar {
    margin-left: auto;
    margin-right: auto;
  }
  header .header__contents .btn a .sp-icon-none {
    display: none;
  }
  header .header__contents .hamburger__none {
    display: none;
  }
  footer .footer__top a {
    font-size: 1.6rem;
  }
  footer .footer__top p {
    font-size: 1.4rem;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .section-title {
    color: #000;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 373px) {
  header .header__contents--left {
    width: 170px;
  }
  header .header__contents--left .header__logo {
    margin-right: 20px;
  }
  header .header__contents--left .header__logo--img {
    padding-top: 15px;
  }
  header .header__contents .hamburger__none {
    display: none;
  }
}

header .header__contents .hamburger__none {
  display: none;
}

@-webkit-keyframes zoomUp {
  /*1.25倍させる指定*/
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes zoomUp {
  /*1.25倍させる指定*/
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  /* 12秒かけて拡大させる */
  -webkit-animation: zoomUp 12s linear 0s;
          animation: zoomUp 12s linear 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fv {
  width: 100vw;
  height: 56.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.fv .swiper-wrapper .swiper-slide {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fv .swiper-wrapper .swiper-slide .slide-img {
  width: 100vw;
  height: 56.2vw;
  background-size: cover;
  background-position: center center;
  /* 背景画像は中央を軸に表示させる */
}

.fv .swiper-wrapper .swiper-slide .slide__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  width: 100%;
  position: absolute;
  top: 32.9%;
  z-index: 5;
}

.fv .swiper-wrapper .swiper-slide .slide__text--right, .fv .swiper-wrapper .swiper-slide .slide__text--left {
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.23529;
  letter-spacing: 0px;
  color: #fff;
}

.fv .swiper-wrapper .swiper-slide .slide__text--right {
  padding-right: 26.45833vw;
}

.fv .swiper-wrapper .swiper-slide .slide__text--left {
  padding-right: 51px;
}

@media screen and (max-width: 1179px) {
  .fv {
    height: 430px;
  }
  .fv .swiper-wrapper .swiper-slide .slide-img {
    height: 430px;
  }
  .fv .swiper-wrapper .swiper-slide .slide__text {
    width: 230px;
    top: 25%;
    right: 0;
  }
  .fv .swiper-wrapper .swiper-slide .slide__text--right, .fv .swiper-wrapper .swiper-slide .slide__text--left {
    letter-spacing: normal;
  }
  .fv .swiper-wrapper .swiper-slide .slide__text--right {
    padding-right: 85px;
  }
}

@media screen and (max-width: 767px) {
  .fv .swiper-wrapper .swiper-slide .slide__text--right, .fv .swiper-wrapper .swiper-slide .slide__text--left {
    font-size: 30px;
  }
  .fv .swiper-wrapper .swiper-slide .slide__text--right {
    padding-right: 55px;
  }
  .fv .swiper-wrapper .swiper-slide .slide__text--left {
    padding-right: 20px;
  }
}

.message {
  width: 100vw;
  height: 681px;
  background-image: url("../img/bg01.jpg");
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message .container {
  max-width: 1180px;
  height: 100%;
  width: 61.8vw;
}

.message .container h1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
}

.message .container h1:first-child {
  padding-top: 59px;
  padding-right: 5.2604vw;
}

.message .container h1:nth-child(2) {
  padding-top: 144px;
  padding-right: 1.718vw;
}

.message .container .message__text {
  padding-right: 6.145vw;
}

.message .container .message__text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0px;
  padding-top: 146px;
}

.message .container .message__text p:nth-child(2) {
  padding-right: 1.145833vw;
  padding-left: 1.145833vw;
}

.message .container h2 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.45455;
  letter-spacing: 0px;
  padding-top: 438px;
  padding-right: 6.145833vw;
}

@media screen and (max-width: 1179px) {
  .message .container {
    width: 700px;
    margin: 0 auto;
  }
  .message .container .message__text
h1:first-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .message .container {
    width: 302px;
  }
  .message .container .message__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .message .container .message__title h1 {
    font-size: 2rem;
    padding-right: 0;
  }
  .message .container .message__title h1:nth-child(2) {
    padding-top: 0;
  }
  .message .container .message__text {
    padding-right: 15px;
  }
  .message .container .message__text p {
    font-size: 1.3rem;
  }
  .message .container h2 {
    font-size: 2rem;
    padding-right: 15px;
  }
}

.features__contents .features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__contents .features__content .features__img {
  width: 54.688vw;
  height: auto;
}

.features__contents .features__content .features__text {
  margin-top: 25px;
  margin-left: 7.1354vw;
}

.features__contents .features__content .features__text--title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.72222;
  letter-spacing: 0px;
}

.features__contents .features__content .features__text--copy {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
  margin-top: 67px;
  margin-bottom: 73px;
}

.features__contents .features__content .features__text--btn {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
  text-decoration: none;
  color: #000;
  width: 200px;
  height: 56px;
  padding-top: 15px;
  display: block;
  border: 1px solid #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.features__contents .features__content:first-child {
  margin-top: 106px;
}

.features__contents .features__content:nth-child(2) {
  margin-top: 122px;
  margin-bottom: 122px;
}

.features__contents .features__content:nth-child(2) .features__text {
  margin-top: 46px;
  margin-right: 11.25vw;
}

.features__contents .features__content:nth-child(2) .features__text--copy {
  margin-bottom: 41px;
}

.features__contents .features__content:last-child {
  margin-bottom: 78px;
}

@media screen and (max-width: 1179px) {
  .features__contents .features__content {
    display: block;
  }
  .features__contents .features__content .features__img {
    width: 768px;
    height: auto;
    margin: 0 auto;
  }
  .features__contents .features__content .features__text {
    width: 660px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .features__contents .features__content .features__text--title {
    font-size: 27px;
  }
  .features__contents .features__content .features__text--copy {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 12px;
  }
  .features__contents .features__content .features__text--btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .features__contents .features__content .features__img {
    width: 100%;
  }
  .features__contents .features__content .features__text {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 4vw;
  }
  .features__contents .features__content .features__text--title {
    font-size: 24px;
  }
  .features__contents .features__content .features__text--copy {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .features__contents .features__content .features__text--btn {
    font-size: 15px;
  }
  .features__contents .features__content .features__text:nth-child(2) .features__text--copy {
    margin-bottom: 20px;
  }
}

.plan {
  background-image: url("../img/bg02.jpg");
  width: 100%;
  height: 775px;
  background-size: cover;
  background-position: center;
}

.plan__contents {
  width: 1180px;
  margin: 60px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan__contents .plan__content {
  width: 331px;
}

.plan__contents .plan__content .plan__img {
  width: 331px;
  height: 209px;
}

.plan__contents .plan__content .plan__text h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.plan__contents .plan__content .plan__text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
}

@media screen and (max-width: 1179px) {
  .plan {
    height: 970px;
  }
  .plan__contents {
    width: 760px;
    display: block;
    margin: 30 auto 0;
  }
  .plan__contents .plan__content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .plan__contents .plan__content .plan__text {
    width: 350px;
    margin-left: 60px;
  }
  .plan__contents .plan__content .plan__text h2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .plan {
    height: 1600px;
  }
  .plan__contents {
    width: 100%;
  }
  .plan__contents .plan__content {
    display: block;
  }
  .plan__contents .plan__content .plan__img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .plan__contents .plan__content .plan__text {
    width: 300px;
    margin: 30px auto 0;
  }
  .plan__contents .plan__content .plan__text h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .plan__contents .plan__content .plan__text p {
    font-size: 14px;
  }
  .plan__contents .plan__content:nth-child(2) {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.news {
  margin-bottom: 60px;
}

.news .wrapper {
  width: 158px;
  margin: 0 auto;
}

.news .wrapper .news__link {
  width: 158px;
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .wrapper .news__link--item {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
}

.news__contents {
  width: 1186px;
  margin: 47px auto 60px;
}

.news__contents .news__pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  margin-bottom: 20px;
}

.news__contents .news__pair .news__content {
  background-color: #F6F6F6;
  width: 570px;
  height: 130px;
  margin-bottom: 20px;
}

.news__contents .news__pair .news__content a {
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__contents .news__pair .news__content a .news__img {
  width: 103px;
  height: 100px;
}

.news__contents .news__pair .news__content a .news__text {
  margin-left: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
}

.news__contents .news__pair .news__content a .news__text .br {
  display: none;
}

.news__contents .news__pair .news__content a .news__text small {
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.28571;
  letter-spacing: 0px;
}

@media screen and (max-width: 1179px) {
  .news {
    height: 1200px;
  }
  .news .news__contents {
    max-width: 570px;
    width: 100%;
    margin-top: 60px;
  }
  .news .news__contents .news__pair {
    display: block;
    height: auto;
  }
  .news .news__contents .news__pair .news__content a {
    padding-top: 20px;
  }
  .news .news__contents .news__pair .news__content a .news__img {
    width: 90px;
    height: 88px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    height: 1350px;
  }
  .news .news__contents {
    margin-top: 30px;
  }
  .news .news__contents .news__pair .news__content {
    width: 90%;
    margin: auto;
    height: 160px;
  }
  .news .news__contents .news__pair .news__content a {
    display: block;
    height: 150px;
    padding-top: 10px;
  }
  .news .news__contents .news__pair .news__content a .news__img {
    margin-top: 15px;
    width: 58px;
    height: 56px;
    margin: auto;
  }
  .news .news__contents .news__pair .news__content a .news__text small {
    font-size: 1.2rem;
  }
  .news .news__contents .news__pair .news__content a .news__text p {
    font-size: 1.2rem;
    width: 250px;
  }
  .news .news__contents .news__pair .news__content:first-child {
    margin-bottom: 20px;
  }
}

.access {
  width: 100%;
  height: 1381px;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}

.access__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 19.2%;
  margin-top: 79px;
  margin-bottom: 69px;
}

.access__info .access__img {
  width: 34.167vw;
  height: auto;
}

.access__info .access__text {
  margin-top: 17px;
  padding-left: 4.3229vw;
}

.access__info .access__text h2, .access__info .access__text p {
  margin-bottom: 19px;
  height: 21px;
}

.access__info .access__text h2 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2;
  letter-spacing: 0px;
}

.access__info .access__text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
}

.access__info .access__text .two {
  height: 53px;
}

.access__map {
  width: 792px;
  height: 592px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1179px) {
  .access {
    height: auto;
  }
  .access__info {
    width: 656px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .access__info .access__img {
    width: 656px;
    margin: 0 auto;
  }
  .access__info .access__text {
    margin-top: 30px;
  }
  .access__map {
    padding-bottom: 50px;
    width: 700px;
    height: 560px;
    margin: 0 auto;
  }
  .access__map iframe {
    width: 700px;
    height: 560px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .access {
    height: auto;
  }
  .access__info {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .access__info .br {
    display: none;
  }
  .access__info .access__img {
    width: 90%;
    margin: 0 auto;
  }
  .access__info .access__text {
    margin-top: 30px;
    font-size: 1.4rem;
  }
  .access__map {
    padding-bottom: 50px;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .access__map iframe {
    width: 100%;
    height: 250px;
    margin: 0 auto;
  }
}

.under-fv {
  height: 500px;
  margin-top: 80px;
}

.under-fv__title {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.23529;
  letter-spacing: 0px;
  padding-top: 226px;
  width: 100%;
  text-align: center;
}

.rooms-fv {
  background-image: url("../img/oheya-header.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1180px;
  width: 100vw;
  height: 1940px;
  margin: 0 auto;
}

.container .content__top--text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 93px;
  margin-bottom: 76px;
}

.container .content__item {
  width: 100%;
  height: 445px;
  position: relative;
}

.container .content__item--img {
  width: 525px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.container .content__item--text {
  background-image: url("../img/bg01.jpg");
  height: 381px;
  width: 813px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 238px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container .content__item--text .content__item--title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.33333;
  letter-spacing: 0px;
  padding-top: 55px;
  padding-bottom: 46px;
}

.container .content__item--text .content__item--sentence {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0px;
  padding-bottom: 47px;
}

.container .content__item--text .content__item--note {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
}

.container .reverse {
  margin-top: 84px;
  margin-bottom: 84px;
}

.container .reverse .content__item--img {
  right: 0;
  left: auto;
}

.container .reverse .content__item--text {
  padding-left: 60px;
  left: 0;
}

.container .br-none {
  display: none;
}

@media screen and (max-width: 1179px) {
  .container {
    height: auto;
  }
  .container .content__top--text {
    font-size: 1.4rem;
  }
  .container .content__top--text .br-none {
    display: block;
  }
  .container .content__item {
    height: 600px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .content__item--img {
    max-width: 525px;
    width: 100%;
    height: auto;
    position: static;
  }
  .container .content__item--text {
    max-width: 525px;
    width: 100%;
    position: static;
    z-index: 0;
    padding-left: 20px;
  }
  .container .content__item--text .content__item--title {
    font-size: 2rem;
  }
  .container .content__item--text .content__item--sentence {
    font-size: 1.4rem;
  }
  .container .content__item--text .content__item--note {
    font-size: 1.2rem;
  }
  .container .content__item:last-child {
    margin-bottom: 30px;
  }
  .container .reverse {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container .reverse .content__item--text {
    padding-left: 20px;
  }
  .sp-none {
    display: none;
  }
}

.dishes-fv {
  background-image: url("../img/menu-header.jpg");
  background-size: cover;
  background-position: center;
}

.onsen-fv {
  background-image: url("../img/onsen-header.jpg");
  background-size: cover;
  background-position: center;
}

.container .effect {
  width: 880px;
  height: 419px;
  margin: 156.5px auto 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.container .effect__title {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.23077;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 90.5px;
  padding-bottom: 47.5px;
}

.container .effect__list {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46667;
  letter-spacing: 0px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.container .effect__list .effect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14.5px;
  padding-bottom: 15.5px;
}

.container .effect__list .effect__item--title {
  width: 220px;
}

.container .effect__list .effect__item:nth-child(2) {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.container .effect-br {
  display: none;
}

@media screen and (max-width: 1179px) {
  .container .effect {
    max-width: 880px;
    width: 90%;
  }
  .container .effect .effect__list .effect__item--title {
    width: 100px;
  }
  .container .effect .effect__list .effect__item .br-none {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container .effect .effect__list .effect__item--title {
    width: 45px;
    font-size: 1.2rem;
  }
  .container .effect .effect__list .effect__item--text {
    font-size: 1.2rem;
  }
  .container .effect .effect__list .effect__item .effect-br {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */